<div class="col-md-6">
    <h1>Pages</h1>
    <a href="/Pages/New">Add new</a>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        <tr class="list-page" ng-repeat="page in pages track by $index" ng-click="editPage(page.name)">
            <td>{{page.id}}</td>
            <td>{{page.name}}</td>
            <td class="td-right">
                <span class="glyphicon glyphicon-remove clickable" ng-click="deletePage(page.id)"></span>
            </td>
        </tr>
    </table>
</div>